.footer {
    background-color: #1c1c1c;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
}

.footer h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 50px;
}

.footer p {
    font-size: 16px;
    color: #fff;
    line-height: 24px;
    margin-bottom: 20px;
    padding-left: 50px;
}

.footer ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer ul li a i {
    font-size: 24px;
    color: #fff;
}

.bottom-bar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.bottom-bar p {
    font-size: 14px;
    margin: 0;
}

.bottom-bar a {
    color: #fff;
    text-decoration: none;
}

.bottom-bar a:hover {
    color: #ccc;
}
